header {
  display: flex;
  width: 100%;
  background-color: #36393e;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin-left: 1rem;
}

header h1 a {
  text-decoration: none;
  color: rgb(209, 209, 209);
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
  margin: 1rem;
}

.dropbtn {
  background-color: #36393e;
  color: rgb(209, 209, 209);
  border: none;
  outline: none;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #36393e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(209, 209, 209);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #585c64;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-menu:hover .dropbtn {
  background-color: #585c64;
}

.navbar a {
  display: block;
  color: rgb(209, 209, 209);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #585c64;
  color: rgb(209, 209, 209);
}

#container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  overflow-x: auto;
}

#filter,
#addBookButton {
  background-color: #585c64;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#filter:hover,
#addBookButton:hover {
  background-color: #4f535b;
}

#filter:active,
#addBookButton:active {
  background-color: #474b52;
}

#addBookButton {
  margin-left: 10px;
}

#filter {
  margin-right: 10px;
}
#filter-label {
  margin-left: 10.5rem;
}

  
table td {
  padding-left: 10px;
}

.editButton,
.applyButton,
.removeButton {
  background-color: #4CAF50; /* Green background color */
  border: none; /* Remove button border */
  color: white; /* Button text color */
  padding: 8px 16px; /* Add some padding around the text */
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block element */
  font-size: 14px; /* Adjust the font size */
  transition-duration: 0.4s; /* Add transition effect */
  cursor: pointer; /* Display a cursor on hover */
}

.editButton:hover,
.applyButton:hover,
.removeButton:hover {
  background-color: #45a049; /* Darker green color on hover */
}

.editButton:active,
.applyButton:active,
.removeButton:active {
  background-color: #3e8e41; /* Dark green color when button is clicked */
}
  
.removeButton {
  background-color: rgb(202, 0, 0);
}
.removeButton:hover {
  background-color: rgb(148, 0, 0);
}
.removeButton:active {
  background-color: rgb(122, 0, 0);
}

.editable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.footer {
  background-color: #f1f1f1;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  text-align: center;
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 600px) {
  .navbar-content {
    display: none;
  }
}

@media (min-width: 600px) {
  .dropdown-menu {
    display: none;
  }
}

@media (max-width: 420px) {
  .heading {
    font-size: 20px;
  }
}
